<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_0b6589759f3744f8b33b18963be1db34 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
    <div class="folium-map" id="map_0b6589759f3744f8b33b18963be1db34" ></div>

</body>

<script>    
    
            var map_0b6589759f3744f8b33b18963be1db34 = L.map(
                "map_0b6589759f3744f8b33b18963be1db34",
                {
                    center: [35.13509, 136.97644],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_58d6650ec0a04155a45c06d850ca42cd = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_0b6589759f3744f8b33b18963be1db34);
        
    
            var marker_3dd77f8c63524b0aa2c0d1bd9468363f = L.marker(
                [35.1356448, 136.9760683],
                {}
            ).addTo(map_0b6589759f3744f8b33b18963be1db34);
        
    
        var popup_54fec1813989411596c3e1c82706e2db = L.popup({"maxWidth": 1000, "minWidth": 0});

        

        marker_3dd77f8c63524b0aa2c0d1bd9468363f.bindPopup(popup_54fec1813989411596c3e1c82706e2db)
        ;

        
    
    
            var marker_6699b3c8171c4cac8943c3313b864067 = L.marker(
                [35.0, 136.0],
                {}
            ).addTo(map_0b6589759f3744f8b33b18963be1db34);
        
    
        var popup_0e50a9d2b4504f65b92d9ef7d8a60f56 = L.popup({"maxWidth": 1000, "minWidth": 0});

        

        marker_6699b3c8171c4cac8943c3313b864067.bindPopup(popup_0e50a9d2b4504f65b92d9ef7d8a60f56)
        ;

        
    
    
            var marker_86a99a3779e04db5ab05b1966c06534a = L.marker(
                [135.5, 35.5],
                {}
            ).addTo(map_0b6589759f3744f8b33b18963be1db34);
        
    
        var popup_9f757df234a9494297b0bcb3064033d5 = L.popup({"maxWidth": 1000, "minWidth": 0});

        

        marker_86a99a3779e04db5ab05b1966c06534a.bindPopup(popup_9f757df234a9494297b0bcb3064033d5)
        ;

        
    
    
            var marker_a42b7898172448139130773343a9bdac = L.marker(
                [135.5, 35.5],
                {}
            ).addTo(map_0b6589759f3744f8b33b18963be1db34);
        
    
        var popup_01c4704a11e44e6ebbe6651ac9a2491f = L.popup({"maxWidth": 1000, "minWidth": 0});

        

        marker_a42b7898172448139130773343a9bdac.bindPopup(popup_01c4704a11e44e6ebbe6651ac9a2491f)
        ;

        
    
    
            var marker_dd55fee2edab4e5da2f3885679f45fcd = L.marker(
                [35.314, 135.5],
                {}
            ).addTo(map_0b6589759f3744f8b33b18963be1db34);
        
    
        var popup_b70f20e7e8d949d098a4fbf9193f9d15 = L.popup({"maxWidth": 1000, "minWidth": 0});

        

        marker_dd55fee2edab4e5da2f3885679f45fcd.bindPopup(popup_b70f20e7e8d949d098a4fbf9193f9d15)
        ;

        
    
</script>
<script src="function.js"></script>
